.footer{
    padding-block: 3rem 2rem;
    &__container{
        row-gap: 2rem;
    }
    &__logo{
        color: white;
        font: var(--h1-font-size) var(--second-font);
        justify-self: center;
        text-shadow: var(--shadow-text);
    }
    &__content{
        grid-template-columns: repeat(1, max-content);
        justify-content: center;
        row-gap: 3.5rem;
    }
    &__copy{
        grid-column: 1/3;
        text-align: center;
    }
    &__link{
        color: var(--white);
        transition: color .4s;
        &:hover{
            color: var(--second-color)
        }
    }
    
}
@media screen and (max-width: 340px) {
    .footer{
        &__content{
            grid-template-columns: 1fr;
            justify-items: center;
            row-gap: 1.5rem;
        }
        &__copy{
            grid-column: 1;
        }
    }
}
@media screen and (min-width: 768px) {
    .footer{
        &__content{
            grid-template-columns: repeat(3, max-content);
            justify-content: space-between;
            align-items: center;
        }
        &__copy{
            grid-column: initial;
        }
        &__link:nth-child(2){
            order: 1;
        }
    }
}
@media screen and (min-width: 1150px) {
    .footer{
        padding-block: 5rem 3rem;
        &__container{
            row-gap: 3rem;
        }
    }
}