/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--first-color);
    color: var(--white-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section__title {
    font: var(--font-regular) var(--h1-font-size) var(--second-font);
    text-align: center;
    margin-bottom: 1.5rem;
    text-shadow: var(--shadow-text);
}

.main {
    overflow: hidden;
}

// =========== SCROLL BAR =========== //
::-webkit-scrollbar{
    width: 0.6rem;
    background-color: hsla(170, 50%, 30%);
}
::-webkit-scrollbar-thumb{
    background-color: hsla(170, 50%, 20%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsla(170, 50%, 15%);
}

// ======  Scrollup ===== //
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--first-color-dark);
    color: var(--white);
    padding: 6px;
    box-shadow: inset var(--shadow-button);;
    display: inline-flex;
    border-radius: .25rem;
    font-size: 1.25rem;
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s;
    &:hover{
        transform: translateY(-.5rem);
    }
    @media screen and (min-width: 1150px) {
        right: 3rem;
        
    }
    
}

// show-scrollup
.show-scroll{
    bottom: 3rem;
}


@media screen and (max-width: 340px) {
    .container{
        margin-inline: 1rem;
    }

    .section__title{
        font-size: var(--h2-font-size);
    }
}
@media screen and (min-width: 1150px) {
    .container{
        margin-inline: auto;
    }
    .section{
        padding-block: 7rem 2rem;
        &__title{
            margin-bottom: 2rem;
        }
    }

}
